extends ../layouts/common
block content
    h1 New transfer


    form(method="POST")
      input(type="hidden",name="_csrf",value=csrfToken)
      .form-group
         label(for="account") Account
         input.form-control#account(type="text",name="accountId")
      .form-group
         label(for="amount") Amount
         input.form-control#amount(type="number",name="amount")
      button.btn.btn-success Transfer